* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #2F3238;
	font-family: 'Exo 2', sans-serif;	
	color: #FFFFFF;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

#logo img {
	cursor: pointer;
	opacity: 1;
}

img {
	cursor: pointer;
	opacity: 0.6;
}

.bxslider img {
	cursor: pointer;
	opacity: 1;
}


.Wrapper {
	width: 100%;
	height: 100%;
	margin-bottom: 70px;
}

footer {
	background: #26292E;
	font-family: 'Exo 2', sans-serif;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;	
	color: #7F8289;
	margin-top: -70px;
	padding-top: 10px;
	text-align: center;

}

.Head {
	background: #26292E;
	width: 100%;
	height: auto;
}

.Current a{
	color:#34A0C7 !important;
}

.Head #logo {
	height: 40px;
	margin: auto 0px auto 40px;
	cursor: pointer;
}

.Head #logo img {
	height: 40px;
}
.Head #logo img {
	height: 40px;
}

.Head #menu {
	display: none;
	float: right;
	margin: auto 60px auto 0px;
}

#menu li {
	cursor: pointer;
	list-style: none;
	display: inline-block;
	padding: 0px 10px;
}

#menu a {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 48px;	
	color: #FFFFFF;	
}

#hideMenuIcon {
	width: 50px;
	height: 50px;
	position: fixed;
	top:0%;
	right: 0%;
	cursor: pointer
}

#hideMenuIcon i {
	color:#FFFFFF;
	margin: 10px 0 0 10px;
}

#hideMenu {
	display: none;
}

#hideMenu li {
	cursor: pointer;
	list-style: none;
	background: #26292E;
	display: block;
	padding: 0px 10px;
}

#hideMenu a {
	font-size: 15px;
	text-transform: uppercase;
	line-height: 48px;	
	color: #FFFFFF;	
}

.Title {
	text-align: center;
	font-size: 35px;
	font-weight: 500;
	line-height: 1.5em;
	padding-bottom: 30px; 
}

.BlueColorText {
	color:#34A0C7;
}

.Item {
	width: 100%;
	padding: 10px;	
}

.ItemName {
	font-size: 35px;
	margin: 0 0 20px 0;
    font-weight: 300;
    line-height: 1.5em;
}

.ItemDescription {
	margin-bottom: 25px;
	color: #7F8289;
    font-weight: 500;
    font-size: 20px;
    line-height: 35px;
    text-align: justify;
}

.ItemImage {
	position: relative;
    overflow: hidden;
    margin-bottom: 25px;
    cursor: pointer;
}
.ItemImage img {
	width: 100%;
}

#AboutContent {
	width: 90%;
	margin: 0 auto;	
}

#news {
	width: 100%;
	background-color: #26292E;
	padding-bottom: 50px;
}


#pageUp {
	width: 60px;
	height: 64px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	display: none;
	z-index: 3000;
	cursor: pointer; 
	opacity: 0.7;
}

#pageUp i {
	color: #34A0C7;
}

.NewsItem {
	width: 90%;
	margin: 0 auto;
	padding-bottom: 25px;
}
.newsIcon {
	color: #7F8289;
}
.date {
	font-size: 18px;
}

.NewsName {
	font-size: 24px;
	font-weight: 300;
	line-height: 1em;
	margin-bottom: 30px;
	text-transform: uppercase;
}

.NewsInfo {
	color: #7F8289;
	padding-left: 30px;
	margin-bottom: 30px;
	line-height: 30px;
	width: 100%;
	min-height: 1px;
	font-size: 25px;
	border-left: 2px solid #34A0C7;
}

.NewsInfo a {
	color:#34A0C7;
}

.NewsImg {
	width: 100%;
	min-height: 1px;
	text-align: center;
}

.NewsImg img {
	width: 70%;
}

.Other {
	padding: 8px 18px;
	margin-left: 70px;
	font-size: 14px;
	display: inline-block;
	background-color: #878c97;
	color: #23262C;
	vertical-align: middle;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	cursor: pointer;
	border:none;
	text-decoration: none;
}

.Other i {
	color: #23262C;
	margin-right:10px; 
}

#repertory {
	width: 100%;
	padding-bottom: 50px;
}

.repertoryItem {
	width: 90%;
	margin: 60px auto;
	min-height: 1px;
	color: #7F8289;
	font-weight: 500;
	font-size: 25px;
}

.Info {
	border-left: 2px solid #34A0C7;
	overflow: hidden;
	padding: 20px 20px 0px 20px;
}

.repertoryItem h3 {
	font-size: 24px;
	line-height: 1em;
	text-transform: uppercase;
	color: #FFFFFF;
	padding-bottom: 20px;
}

.repertoryImages {
	width: 100%;	
}


.repertoryImages img {	
	width: 100%;
	float: left;
	padding:20px 5px; 
}

.repertoryImages:after {
	clear: both;
	content: " ";
	display: block;
	line-height: 0px;
}

#gallery {
	width: 100%;
	background-color: #26292E;
}

.GalleryMenu li {
	display: inline;
	color: #7F8289;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    cursor: pointer;
    margin: 0px 2px;
}
.gallery {
	width: 90%;
	margin: 0 auto;
}

.GalleryMenu i {
	margin-right: 2px;
}

.GalleryMenu a {
	color: #7F8289;
}

.block {
	display: none;
}

.block iframe {
	margin: 10px;
}

.shown {
	display: block;
}
.active {
	color:#34A0C7 !important;
}
.active i {
	color: #FFFFFF !important;
}

.hovergallery img{
	width: 30%;
	-webkit-transform:scale(0.9);
	-moz-transform:scale(0.9); 
	-o-transform:scale(0.9); 
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	-o-transition-duration: 0.5s; 
	margin: 5px;
	cursor: pointer;
}

.hovergallery img:hover{
	-webkit-transform:scale(1.1); 
	-moz-transform:scale(1.1); 
	-o-transform:scale(1.1); 
	box-shadow:0px 0px 30px gray; 
	-webkit-box-shadow:0px 0px 30px gray; 
	-moz-box-shadow:0px 0px 30px gray; 
}

.FullGallery {
	padding-top: 100px;
	background-color:#2F3238; 
	height: 100%;
}

.fullGalleryContent {
	width: 90%;
	margin: 0 auto;
}

.galleryItem {
	display: inline;
	vertical-align: bottom;
}
.galleryItem img{
	width: 45%;
	margin: 10px;
}

#contacts h1 {
	font-size: 48px;
	font-weight: 300;
	margin-left: 60px;
	line-height: 1.5em;
}

.contactContent {
	width: 90%;
	margin: 0 auto;
}

.contactItem {
	width: 220px;
	display: block;
	float: left;
    min-height: 1px;
    margin: 20px;
    color:#7F8289;
    font-weight: 500;
}
.contactItem:last-of-type {
	display: none;
}
.contactItemAll {
	width: 70%;
	text-align: center;
	display: block;
    min-height: 1px;
    margin: 0 auto;
    color:#7F8289;
    font-weight: 500;
}

.contactItemAll a {
	cursor: pointer;
	color:rgb(127, 130, 137);
}

.contactContent img {
	width: 100%;
	margin-bottom: 30px;
}

.contactItem i {
	margin: 5px;
	color:#7F8289;
}

#contacts h3 {
	font-size: 24px;
	margin-left: 20px;
	margin-bottom: 20px;
	color: #FFFFFF;
	text-transform: uppercase;
	line-height: 1em;
}

#contacts li {
	margin: 0 0 20px;
	line-height: 28px;
}

.socialIcons li {
	display: inline;
	margin: 5px;
	color: rgb(127, 130, 137);
}

form {
	margin: 0 0 20px;
	display: block;
}

#contactForm {
	width: 90%;
	margin: 0px auto 40px auto;
}

#contactForm p {
	margin-bottom: 1px;
}

#contactForm input {
	width: 100%;
	webkit-box-sizing: border-box;
	moz-box-sizing: border-box;
	box-sizing: border-box;
}

#contactForm input, #contactForm textarea {
	border:none;
	box-shadow: none;
	outline: none;
	background: #26292E;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Exo 2', sans-serif;
	font-weight: 500;
	height: auto;
	padding: 15px;
	margin: 0;
	resize:none;
}

#contactForm textarea {
	width: 100%;
	resize:vertical;
	box-sizing: border-box;
}

#contactForm .submit {
	background: #3C3F45;
	color: #23262C;
	cursor: pointer;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	padding: 16px 40px;
	text-align: center;
	vertical-align: middle;
	width: auto;
	margin-top: 30px;
}

.submit a {
	color: #23262C;
}

#response {
	margin-top: 20px;
	color:#FFFFFF;
}

.Layout {
	position: fixed;
	top:0%;
	bottom: 0%;
	width: 100%;
	height: 100%;
	z-index: 3000;
	background-color: #000000;
	opacity: 0.7;
}

.PopUp {
	position: fixed;
	z-index: 3500;
	top: 150px;
	left:25%;
	background-color: #FFFFFF;
	padding: 0px;
    width: 50%;
    height: auto;
}

#close {
	position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    cursor: pointer;
    z-index: 9000;
    background-image: none;
    background-color: #26292E;
    opacity: 0.5;
}

.Image {
	width: 100%;
}

.iconClose {
	left: 50%;
    top: 50%;
    margin: -15px 0 0 -11px;
    line-height: 1em;
    position: absolute;
    color: #FFFFFF;
}

